.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px 0;

  .description {
    font-family: "Tactic Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 32px;
    line-height: 32px;
  }

  .rightBlock {
    display: flex;
    gap: 12px;
  }
}

.listMatches {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
